/* =============
 table of contents
===============

0. global styles
1. ul class .flex
      1.1 sub HTML + css + JavaScript
      1.2 sub sub of CSS


2. main & footer
3. header of mobile
 
*/

/* ===============
   0. global style
================ */

* {
  margin: 0;
  padding: 0;
  color: white;

  font-family: sans-serif;

  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #1b1b1b;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

/* ===============
   1.  ul class .flex
================ */


/* ==================
    2. main & footer
===================== */
main{
  color: #1b1b1b;

  height: calc(100vh - 128.64px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  text-align: center;
}

/* ==================
    3. header of mobile
===================== */
